<?xml version="1.0" encoding="UTF-8"?>
<?include CentralVersion.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle Name="KungFu" Version="$(var.CentralVersion)" Manufacturer="Bruce Lee"
          UpgradeCode="ed7dc405-2df1-4388-8d0e-07b24b1d510f">
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload SourceFile="$(var.WixBA.TargetDir)\WixBA.dll" />
      <Payload SourceFile="$(var.WixBA.TargetDir)\WixBA.BootstrapperCore.config" Name="BootstrapperCore.config" />
      <Payload SourceFile="$(var.WixBA.TargetDir)\Microsoft.Deployment.WindowsInstaller.dll" />
    </BootstrapperApplicationRef>

    <Update Location="KungFu" />

    <Chain>
      <PackageGroupRef Id='Netfx4Full' />
      <MsiPackage SourceFile="$(var.KungFu.Setup.TargetDir)\KungFu.Setup.msi" />
    </Chain>
  </Bundle>

  <Fragment xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <!-- Managed bootstrapper requires .NET as a dependency, since it was written in .NET.
       WiX provides a Bootstrapper for the bootstrapper. The fragment below includes .NET.
       For more information or examples see Heath Stewart's blog or the WiX source:
       http://blogs.msdn.com/b/heaths/archive/2011/10/28/introducing-managed-bootstrapper-applications.aspx
       -->
    <WixVariable Id="WixMbaPrereqPackageId" Value="Netfx4Full" />
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version"
                         Variable="Netfx4FullVersion" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version"
                         Variable="Netfx4x64FullVersion" Win64="yes" />
    <PackageGroup Id="Netfx4Full">
      <ExePackage Id="Netfx4Full" Cache="no" Compressed="no" PerMachine="yes" Permanent="yes" Vital="yes"
                  Name="dotNetFx40_Full_x86_x64.exe"
                  DownloadUrl="http://go.microsoft.com/fwlink/?LinkId=164193"
                  DetectCondition="Netfx4FullVersion AND (NOT VersionNT64 OR Netfx4x64FullVersion)">
        <RemotePayload CertificatePublicKey="672605E36DD71EC6B8325B91C5FE6971390CB6B6"
                       CertificateThumbprint="9617094A1CFB59AE7C1F7DFDB6739E4E7C40508F"
                       Description="Microsoft .NET Framework 4 Setup" Hash="58DA3D74DB353AAD03588CBB5CEA8234166D8B99"
                       ProductName="Microsoft .NET Framework 4" Size="50449456" Version="4.0.30319.1" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>